.playlist-selector-container{
    width: 50vw;
    display: inline-flex;

}
.playlist-selector{
    width: 20vw;
    height: 6vh;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .75em;
    margin: 5px 5px 5px 5px;
    border-radius: 40% 10% 40% 10%;
    background: #000000;
}