.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltiptext {
    visibility: hidden;
    width: 20vw;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: medium;
    border-radius: 6px;
    padding: 2px 6px 2px 6px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: -10vw;
  }
  
  .icon:hover .tooltiptext {
    visibility: visible;
  }

  @media only screen and (max-width: 500px) {
    .tooltiptext {
      width: 30vw;
      left: -20vw;
    }
  }