.youtube-header{
    
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.youtubeLogo{
 width: 5vw;
 margin: 1vw 1vw;
 max-height: 58px;
 max-width: 58px;
}