.youtube-header{
    
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 3;
    
}

.youtube-title{
    z-index: 3; 
}
.youtubeLogo{
 width: 5vw;
 margin: 1vw 1vw;
 max-height: 58px;
 max-width: 58px;
 z-index: 3;
}

.playlist-selectorGroup-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.playlist-selector-container{
   
    width: 45vw;
    display: inline-flex;
    z-index: 3;
}
.playlist-selector{
    width: 15vw;
    height: 6vh;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .6em;
    margin: 5px 5px 5px 5px;
    border-radius: 40% 10% 40% 10%;
    background: #000000;
    z-index: 3;
}


@media(max-width: 650px){
    .playlist-selector-container{
   
        width: 75vw;
        display: inline-flex;
    
    }
    .playlist-selector{
        width: 25vw;
        height: 6vh;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: .6em;
        margin: 5px 5px 5px 5px;
        border-radius: 40% 10% 40% 10%;
        background: #000000;
    }
}

